.carousel-item{
    width: 100vw;
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */
}
.carousel-text{
    color: white;
    margin-left: 60%;
    z-index: 2;
}
.carousel-div{
    /* margin: auto; */
    width: 90%;
    /* height: 220px; */
    position:relative;
    
}
.carousel-box{
    background-color: orange;
    /* opacity: 50%; */
    height: 100%;
    width: 70%;
    position: absolute;
    z-index: 1;
}