.menu-container{
    margin-top: 40px;
}

.menu-title {
    text-align: center;
    /* background-image: url('https://png.pngtree.com/png-vector/20220628/ourmid/pngtree-black-decorative-line-divider-line-png-image_5510587.png'); */
    font-size: 80px;
}

@media screen and (width <= 850px){
    .menu-title {
        font-size: 50px;
    }
}