.navbar-bg {
    background-color: #454545;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 20px;
    position: absolute;
    /* position: relative; */
    z-index: 100;
    width: 100vw;
    backdrop-filter: blur(50px);
    /* background/: #454545; */
}

.navbar-left{
    flex: 1;
}

.navbar-title {
    width: fit-content;
    font-size: 30px;
    /* border: 2px solid white; */
    color: white;
    /* padding: 60px 30px; */
    text-align: center;
    /* border-radius: 45px; */
}
.navbar-center{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid white; */
    border-bottom: 2px solid white;
}
.navbar-center-side{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    column-gap: 45px;
}

.navbar-center-side > p{
    font-size: 20px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.navbar-right{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap: 40px;
    flex: 1;
    color: white;
}